<!DOCTYPE html>
<html>
  
  <body> 
    <div class = "article"> 
      <h1> Title: <%= @article.name %></h1>
      <p> Content : <%= @article.content %></p>
    </div>
    
    <form method="post" action="/articles/<%=@article.id%>">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input type="submit" value="delete">
    </form>
  </body>
</html>